<div class="topbar">
    <h2>Este es el topbar en donde va la informacion de la calculadora y amagi, capaz un menu</h2>
</div>

<style>
    .topbar {
        position: fixed;
        top:0;
        height: 10%;
        width: 100%;
        border: dotted;
        margin: 0;
    }
</style>

@code
{

    [CascadingParameter]
    public Cliente? nuevoCliente { get; set; }
}
