@page "/GIASetup/{sabor}"
@inject NavigationManager NavigationManager
@using CalculadoraPianoPiano.Shared

@switch (sabor)
{
    case "TIC":
        <GIATICSetup />
        <button @onclick='() => NavigationManager.NavigateTo("resumenSetup/TIC")'>Continuar</button>
        break;
    case "PMO":
        <GIAPMOSetup />
        <button @onclick='() => NavigationManager.NavigateTo("resumenSetup/PMO")'>Continuar</button>

        break;
    case "ciberSeguridad":
        <GIACiberSeguridadSetup />
        <button @onclick='() => NavigationManager.NavigateTo("resumenSetup/CiberSeguridad")'>Continuar</button>

        break;
    case "IoT":
        <GIAIoTSetup />
        <button @onclick='() => NavigationManager.NavigateTo("resumenSetup/IoT")'>Continuar</button>

        break;
    default:
        <h1>Problema</h1>
        break;
}

<button @onclick='() => NavigationManager.NavigateTo("seleccionDeSabores")'>Regresar a Seleccion de Sabores</button>



@code
{
    [Parameter]
    public string sabor { get; set; }

    [CascadingParameter]
    public Cliente? nuevoCliente { get; set; }

    protected override void OnParametersSet()
    {
        //the param will be set now
        var test = nuevoCliente.InfoCliente.Madurez;
        Console.WriteLine(test);
        Console.WriteLine(sabor);
    }
}
