@page "/resumenSetup/{sabor}"
@inject NavigationManager NavigationManager
@using CalculadoraPianoPiano.Shared

@switch (sabor)
{
    case "TIC":
        <ResumenSetupTIC></ResumenSetupTIC>
        <button @onclick='() => NavigationManager.NavigateTo("seleccionServiciosOngoing/TIC")'>Confirmar</button>
        break;
    default:
        <p>Problema</p>
        break;
}

@code
{
    [Parameter]
    public string sabor { get; set; }

    [CascadingParameter]
    public Cliente? nuevoCliente { get; set; }
}
